[Unit]
Description=Pacman predownload packages
ConditionACPower=true
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
Nice=15
ExecStart=/usr/bin/checkupdates --download
