[Unit]
Description=Pacman predownload packages
ConditionACPower=true
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/pacman -Syuw --noconfirm --noprogressbar

[Install]
WantedBy=multi-user.target
