[Unit]
Description=Update Pacman Filedatabase every 20h

[Timer]
OnBootSec=30min
OnUnitActiveSec=20h
RandomizedDelaySec=10min

[Install]
WantedBy=timers.target
