[Unit]
Description=Pacman predownload packages
ConditionACPower=true
RequiresMountsFor="/var/lib/pacman/sync"
Wants=network-online.target
After=network-online.target nss-lookup.target

[Service]
Type=oneshot
Nice=15
ExecStart=/usr/bin/checkupdates --download
