[Unit]
Description=Run rustup update regularly for %I

[Timer]
OnStartupSec=30sec
OnUnitActiveSec=3h
RandomizedDelaySec=10min

[Install]
WantedBy=timers.target
