[Unit]
Description=Run rustup update for %I
ConditionACPower=true
Wants=network-online.target
After=network-online.target nss-lookup.target

[Service]
Type=oneshot
ExecStart=rustup update
User=%i
