[Unit]
Description=Pacman predownload packages every 1h

[Timer]
OnBootSec=1min
OnUnitActiveSec=1h
RandomizedDelaySec=1min

[Install]
WantedBy=timers.target
