[Unit]
Description=Run barrier server
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/barriers --enable-crypto --no-tray --no-daemon --no-restart
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=default.target
