[Unit]
Description=Fetch git folders in ~/git every now and then

[Timer]
OnStartupSec=30sec
OnUnitActiveSec=50min
RandomizedDelaySec=1min

[Install]
WantedBy=timers.target
