[Unit]
Description=Fetch git repositories in ~/git every morning

[Timer]
OnCalendar=04:42:00
Persistent=true
RandomizedDelaySec=8min

[Install]
WantedBy=timers.target
