[Unit]
Description=Set a gtk theme on sunset
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=30min
ExecStart=/usr/bin/bash -c "heliocron wait --event sunset --offset -0:30 && gsettings set org.gnome.desktop.interface gtk-theme Adwaita-dark"

[Install]
WantedBy=default.target
