[alias]
	lg = log --graph --pretty=format:'%C(auto)%h%d %s %Cgreen(%ar) %C(blue)<%an>%Creset' --abbrev-commit
	lga = lg --all
	lgr = lg --reflog
	release-log = log --pretty='format:- %s %Cblue%H%C(auto)%d%Creset'

	diffs = diff --ignore-space-change
	diffw = diff --color-words
	shows = show --ignore-space-change
	showw = show --color-words

	amend = commit --amend --reset-author --no-edit
	enfore-ignore = !git rm -r --cached --quiet . && git add . && git status --short
	puff = push -u --force-with-lease
	s = status --short --branch
[apply]
	whitespace = fix
[core]
	excludesFile = ~/.config/git/global.gitignore
[diff]
	renames = copies
[fetch]
	prune = true
	pruneTags = true
[init]
	defaultBranch = main
[pull]
	ff = only
[push]
	default = simple
	followTags = true
[rebase]
	autoSquash = true
	autoStash = true
	missingCommitsCheck = error
[status]
	showStash = true
[pager]
	branch = cat
[user]
	name = EdJoPaTo
	email = rfc-conform-git-commit-email@funny-long-domain-label-everyone-hates-as-it-is-too-long.edjopato.de
